In [2]:
list1 = ["john", "chan", "yuen", "matt"]
print(list1)

['john', 'chan', 'yuen', 'matt']

In [3]:
list1[1]

'chan'

In [4]:
list1[1] = "Abinaya"
print(list1)

['john', 'Abinaya', 'yuen', 'matt']

In [5]:
list2 = [["john",45],
        ["Abinaya",21],
        ["yuen", 35],
        ["matt", 55]]

In [6]:
list3 = [10,20,[300,400,[5000,6000],500],30,40]

In [11]:
list3[2][2].remove(7000)
list3

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [24]:
list4 = [5, 10, 15, 20, 25, 50, 20]

In [27]:
i=list4.index(20)
list4[i] = 200
print(list4)

[5, 10, 15, 200, 25, 50, 20]

In [37]:
tuple1 = (10, 20, 30, 40, 50)

In [38]:
print(tuple1)

(10, 20, 30, 40, 50)

In [39]:
("Red," * 5) = tuple1

SyntaxError: can't assign to operator (<ipython-input-39-6ac03e11fae7>, line 1)