# Lists in Python

### What is Lists in Python ?

#### In Python, we have the following data types.
#### They are as follows:
#### 1) int
#### 2) float
#### 3) str
#### 4) bool

#### Python also provides inbuilt data types.
#### They are as shown below:
#### 1) Lists
#### 2) Sets
#### 3) Tuple
#### 4) Dictionaries

In [3]:
#Creation of Lists
#syntax:
# variable_name = [val1, val2, val3, val4,.....]

List = ["Akshay","1 year","Male","10 kg","30-04-2019"]

In [5]:
List

['Akshay', '1 year', 'Male', '10 kg', '30-04-2019']

In [6]:
#Updating the already existing lists

List = ["Akshay","1 year","Male","10 kg","Naughty Boy","30-04-2019"]
List

['Akshay', '1 year', 'Male', '10 kg', 'Naughty Boy', '30-04-2019']

### Accessing the List

In [7]:
#Printing the very first element in the list which is the Name

List[0]

'Akshay'

In [8]:
#Printing the very last element in the list which is the DOB

List[-1]

'30-04-2019'

In [12]:
#Printing the range of values from the lists
#syntax: list[inclusive: exclusive]

List[0:2]

['Akshay', '1 year']

In [10]:
#Printing the range of values from the lists by only mentioning the starting or ending points

List[:2]

['Akshay', '1 year']

In [11]:
#Printing the range of values from the lists by only mentioning the starting or ending points

List[2:]

['Male', '10 kg', 'Naughty Boy', '30-04-2019']

In [13]:
#Creating a lists of list
#Info list contains 6 lists inside

Info = [["Name", "Akshay"],
       ["Age", "1 year"],
       ["Sex", "Male"],
       ["Weight", "10 kg"],
       ["Character", "Naughty Boy"],
       ["DOB", "30-04-2019"]]

In [14]:
Info[1]

['Age', '1 year']

In [15]:
Info[0]

['Name', 'Akshay']

In [16]:
#Updating the value from Akshay to Akshay Kannan

Info[0] = ["Name","Akshay Kannan"]
Info

[['Name', 'Akshay Kannan'],
 ['Age', '1 year'],
 ['Sex', 'Male'],
 ['Weight', '10 kg'],
 ['Character', 'Naughty Boy'],
 ['DOB', '30-04-2019']]

In [19]:
#accessing list of lists
#To print "Akshay Kannan"

Info[0][1]

'Akshay Kannan'

In [20]:
#Copying the List

Info1 = Info

In [22]:
#Updating Info1

Info1[4] = ["Character", "Good Boy"]
Info1

[['Name', 'Akshay Kannan'],
 ['Age', '1 year'],
 ['Sex', 'Male'],
 ['Weight', '10 kg'],
 ['Character', 'Good Boy'],
 ['DOB', '30-04-2019']]

In [23]:
Info

[['Name', 'Akshay Kannan'],
 ['Age', '1 year'],
 ['Sex', 'Male'],
 ['Weight', '10 kg'],
 ['Character', 'Good Boy'],
 ['DOB', '30-04-2019']]

In [25]:
#We change only the Info1 list, but the changes are also affected in Info list. Here, the address got copied from Info to Info1.
#The correct way is as follows

Info = [['Name', 'Akshay Kannan'],
 ['Age', '1 year'],
 ['Sex', 'Male'],
 ['Weight', '10 kg'],
 ['Character', 'Naughty Boy'],
 ['DOB', '30-04-2019']]
print(Info)
Info1 = list(Info)
print(Info1)

[['Name', 'Akshay Kannan'], ['Age', '1 year'], ['Sex', 'Male'], ['Weight', '10 kg'], ['Character', 'Naughty Boy'], ['DOB', '30-04-2019']]
[['Name', 'Akshay Kannan'], ['Age', '1 year'], ['Sex', 'Male'], ['Weight', '10 kg'], ['Character', 'Naughty Boy'], ['DOB', '30-04-2019']]

In [26]:
Info1[4] = ["Character", "Good Boy"]
print(Info)

print(Info1)

[['Name', 'Akshay Kannan'], ['Age', '1 year'], ['Sex', 'Male'], ['Weight', '10 kg'], ['Character', 'Naughty Boy'], ['DOB', '30-04-2019']]
[['Name', 'Akshay Kannan'], ['Age', '1 year'], ['Sex', 'Male'], ['Weight', '10 kg'], ['Character', 'Good Boy'], ['DOB', '30-04-2019']]

In [28]:
#adding an element to a lists

Info + ["Mother's Name","Aarthi Kalyanasundaram"]

[['Name', 'Akshay Kannan'],
 ['Age', '1 year'],
 ['Sex', 'Male'],
 ['Weight', '10 kg'],
 ['Character', 'Naughty Boy'],
 ['DOB', '30-04-2019'],
 "Mother's Name",
 'Aarthi Kalyanasundaram']

In [29]:
#deleting an element from the lists

del(Info[4])
Info

[['Name', 'Akshay Kannan'],
 ['Age', '1 year'],
 ['Sex', 'Male'],
 ['Weight', '10 kg'],
 ['DOB', '30-04-2019']]

In [30]:
#Adding an element to a list using append()

Info.append(['Character', 'Naughty Boy'])
Info

[['Name', 'Akshay Kannan'],
 ['Age', '1 year'],
 ['Sex', 'Male'],
 ['Weight', '10 kg'],
 ['DOB', '30-04-2019'],
 ['Character', 'Naughty Boy']]

In [31]:
#Deleting an element from the list using remove()

Info.remove(['Character', 'Naughty Boy'])

Info

[['Name', 'Akshay Kannan'],
 ['Age', '1 year'],
 ['Sex', 'Male'],
 ['Weight', '10 kg'],
 ['DOB', '30-04-2019']]

In [32]:
#join 2 lists

a = ["Aarthi","24","B.E","Female"]
b = ["Abinaya","21","B.E","Female"]

In [33]:
c = a + b

print(c)

['Aarthi', '24', 'B.E', 'Female', 'Abinaya', '21', 'B.E', 'Female']

In [36]:
#joining 2 lists using extend method

a.extend(b)
print(a)

['Aarthi', '24', 'B.E', 'Female', 'Abinaya', '21', 'B.E', 'Female', 'Abinaya', '21', 'B.E', 'Female']

In [37]:
#clearing a list using clear command

b.clear()
print(b)

[]